.container {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(45deg, red, transparent);
}
.weather {
  border: 1px solid;
  width: 300px;
  padding: 20px;
  /* display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; */
  border-radius: 20px;
  background-color: grey;
}
input[type="text"] {
  padding: 10px;
  border-radius: 10px;
  width: 250px;
  margin-block-end: 20px;
}