
.container_music {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(45deg, rgb(0, 255, 251), rgb(7, 151, 228));
}
.Music_cart {
  width: 350px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 10px;
  border-radius: 10px;
  background: #f6f5f300;
  box-shadow: 0px 0px 35px white;
}
.image img {
  width: 200px;
  border-radius: 50%;
  height: 190px;
}

.music_btn button {
  font-size: 35px;
  margin: 5px;
}

.audio {
  margin-block: 10px;
}
.music_btn {
  /* border: 1px solid; */
  width: 180px;
  display: flex;
  justify-content: space-evenly;
}